* {
  box-sizing: border-box;
}

body {
  background-color: #041F37;
}

.game {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  padding-bottom: 40px;
  background-color: #041F37;
}

.game-title {
  margin: 0;
  position: fixed;
  bottom: 4px;
  left: 50%;
  transform: translate(-50%);
  font-size: 24px;
  color: white;
}

.grid {
  /*width: 100%;*/
  background-color: #2A4E6E;
}

.col {
  float: left;
}
